<%- include('../partials/header.ejs') %>
    <div class="container">
        <form class="row g-3" method="POST" action="/students/login">
            <div class="col-md-6">
                <label for="email" id="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control" id="email" required>
            </div>
            <div class="col-md-6">
                <label for="password" id="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>